<!DOCTYPE html>
<html lang="en">

<head>
    <title>Infoware {{title}}</title>
    {{>header}}
    <!-- include css files -->

    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <header>

                    {{#if message}}
                    <div id="msg">
                        <i class="fa fa-times" onclick="document.getElementById('msg').style.display='none'"></i>
                        <p>{{message}}</p>
                    </div>
                    {{/if}}

                    <!-- navigation -->
                    <div class="navigation">
                        <div class="hamburger">
                            <div class=" fa fa-times ham_toggle"></div>
                        </div>
                        <nav>
                            <!-- logo -->
                            <div class="logo">
                                <h1>Info<span>Ware </span><code>{{#if user}}{{user}}{{/if}}</code></h1>
                            </div>

                            <!-- menu  -->
                            <div class="nav" id="nav">
                                <ul>
                                     <li><a href="/"> Shop </a></li>
                                    <li><a href="/cart">cart</a></li>
                                    <li><a class="active" href="/admin">admin</a></li>
                                    <li><a href="/logout">logout</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                </header>

                <div class="baner">
                    <h2 class="main_heading">Insert Items Here</h2>
                    <form action="/insert" method="POST" enctype="multipart/form-data">
                        <div>

                             <div class="password_feild">
                                <label for="image">Item Image</label><br>
                                <input type="file" name="uploaded_image" id="image" accept="image/*"> <br>
                            </div>


                            <div class="name_feild">
                                <label for="description"> Item Description </label><br>
                                <input type="text" name="description" id="description"> <br>
                            </div>

                            <div class="emial_feild">
                                <label for="rate">Item Rate</label><br>
                                <input type="number" name="rate" id="rate"> <br>
                            </div>

                           
                            <div class="btn_feild">
                                <button type="submit">Insert</button>
                            </div>

                        </div>

                        {{!-- <p>Already have account <a href="/login">LogIn</a></p> --}}
                    </form>

                </div>


            </div>
        </div>
    </div>

   
    <script src="/js/nav.js"></script>
</body>

</html>