*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;   
}

/* logo  */
.logo h1{
    color: rgb(88, 88, 88);
}

.logo.active h1{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 11;
}
 
.logo h1 span{
    color: rgb(185, 185, 185);
}



/* navigation css */

.navigation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
    padding: 10px;
}

.hamburger{
    position: absolute;
    top: 10px;right: 15px;
    display: none;
    z-index: 11;  
    font-size: 25px;
    color: rgb(58, 58, 58); 
}   

nav{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

.nav ul li{ 
    margin: 0px 10px;
}

.nav ul li a{
    text-decoration: none;
    position: relative; 
    padding: 5px 15px;
    border-radius: 2px; 
    color: rgb(124, 124, 124);
    text-transform: uppercase;
    z-index: 1;
    transition: all .2s linear 150ms ;     
    font-weight: 600;
}
 

.nav ul li a::after{ 
    content: ""; 
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: rgb(151, 151, 151);
    width: 0%; 
    transition: all .2s linear ; 
    z-index: -1;
}  

.nav ul li a:hover { 
    color: rgb(236, 236, 236); 
}

.nav ul li a:hover::after { 
    width: 100%;  
    left: 0;
}

 .nav ul li a.active{
     background: rgb(151, 151, 151);
     color: rgb(236, 236, 236);
 }
 


/* media screen  */

@media (max-width:800px) {
    .nav{ 
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 0%; 
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        align-items: center; 
        background: rgba(255, 255, 255, 0.856);
        transition: .3s linear all;
    }
    .nav.active{  
        width: 100%; 
        left: 0;
    }

    .hamburger{
        display: block;
    }
    
    .nav ul {   
        flex-direction: column; 
    }
    
    .nav ul li{   
        flex-direction: column;
        margin: 10px 0px;
    }
    
}



























 