*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none; 
    font-family: 'Courier New', Courier, monospace;
}

::-webkit-scrollbar{
    height: 0px;
    width: 0;
}

body{
    width: 100%;
    height: 100vh; 
    background-image: linear-gradient(15deg, rgba(255, 248, 145, 0.39),rgba(255, 182, 188, 0.959),rgb(201, 200, 255),rgba(142, 247, 255, 0.637));
    background-attachment: fixed;

.container{  
    overflow: auto; 
    height: 100%; 
    background: rgba(255, 255, 255, 0.185);
    position: absolute;
    top: 20px;left: 20px;right: 20px;bottom: 20px;
    backdrop-filter: blur(20px);


     
.navigation{
    width: 100%; 
    height: 60px ; 
    position: relative;
    top: 0;left: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    nav{ 
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;   
        max-width: 1200px;

    .logo{  
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 700;  
        padding: 5px 10px;
        border: 2px solid transparent; 

        :nth-child(1){
            color: rgb(119, 165, 252); 
        }

        :nth-child(2){
            color: rgb(219, 148, 157);
        }
    }

    .hamburger{
        display: none;
        z-index: 11; 
        background : linear-gradient(15deg, rgba(255, 248, 145, 0.39),rgba(255, 182, 188, 0.959),rgb(201, 200, 255),rgba(142, 247, 255, 0.637));
        color: transparent;
        -webkit-background-clip: text;
        font-size: 20px !important;
    }

    .nav{  
        display: flex; 

        :nth-child(1){
            color: rgb(163, 159, 99) ;
        }
        :nth-child(2){
            color: rgb(129, 128, 165) ;
        }
        :nth-child(3){
            color: rgb(151, 123, 125) ;
        }
        :nth-child(4){
            color: rgb(68, 123, 126) ;
        }

        li{
            list-style: none;
            width: 100px;
            border: 2px solid transparent; 
            padding: 5px;
            margin: 0px 5px;
            text-align: center;
            border-radius: 3px;
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 600; 
            cursor: pointer;  
            background: rgba(255, 255, 255, 0.253);
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685),0px 0px 20px rgba(255, 255, 255, 0.26),0px 0px 30px rgba(255, 255, 255, 0.26);

            :hover{
                box-shadow: none !important;
            }
           
        } 

    }
}
}






 

//------------------ animations -----------------//


@keyframes toLeft{
    0%{
       transform: translateX(100px);
       opacity: 0;
    } 
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    }
    
    @keyframes toRight{
    0%{
       transform: translateX(-100px);
       opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    }
    
}


}















 
@media (max-width:900px){

    
 
    .nav{  
        position: absolute !important; 
        top: 0; 
        right: -100%;
        width: 100%;
        height: calc(100vh - 40px) !important; 
        background : rgba(0, 0, 0, 0.685) !important; 
        display: flex ; 
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10; 
        overflow: hidden;  
        transition: .5s ease-in-out;

        li{
            margin: 10px 20px !important; 
            opacity: 0;
            
        }
    } 

    .logo{
        z-index: 11;
    }

    .hamburger{
        display: block !important;
    }

    nav.active .nav{
        right: 0; 

        li:nth-child(1){
                animation: toLeft .5s .3s ease forwards !important;
            } 
        li:nth-child(2){
                animation: toRight .5s .5s ease forwards !important;
            } 
        li:nth-child(3){
                animation: toLeft .5s .7s ease forwards !important;
            } 
        li:nth-child(4){
                animation: toRight .5s .9s ease forwards !important;
            } 
    }  
}


