

.second-div{
    display: flex;
    justify-content: space-around;
    align-items: center;


.content{
    position: relative;
    top: 0;left: 0;
    width: 100%;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    min-height: 750px; 

    .accupation{ 
        padding: 5px;

        .hey{
            font-size: 28px;
            font-weight: 700;
            color: rgb(119, 165, 252);
            text-transform: capitalize;
            padding: 10px;
        }

        h1{
            color: transparent;
            font-size: 40px;
            background : linear-gradient(15deg, rgba(153, 146, 54, 0.794),rgba(206, 89, 99, 0.959),rgb(116, 150, 111),rgba(58, 242, 255, 0.849));
            -webkit-background-clip: text;
            padding: 10px; 
            -webkit-text-stroke: 1px rgba(255, 255, 255, 0.603);
             
        }

        .we-are{
            padding: 0px 10px;
            font-size: 20px;
            font-weight: 700;
            color:rgb(119, 165, 252);

            .type_text{
                font-size: 25px;
                color: transparent; 
                background : linear-gradient(15deg, rgba(54, 85, 153, 0.794),rgba(86, 155, 65, 0.959),rgb(108, 110, 235),rgba(255, 64, 58, 0.849));
                -webkit-background-clip: text;
            }

        }

        .buttons{
            padding: 10px; 
            display: flex; 
            align-items: flex-start; 

            button{
                width: 200px;
                font-size: 17px; 
                background-color: transparent;
                border: none;
                padding: 7px;
                cursor: pointer;
                border-radius: 3px;
                font-weight: 600;
                margin: 5px;
                box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685),0px 0px 20px rgba(255, 255, 255, 0.26),0px 0px 30px rgba(255, 255, 255, 0.26); 

            }
            
            :nth-child(1){
                color: rgb(119, 165, 252);;
            }

            :nth-child(2){
                color: rgb(238, 128, 142);
            }
        }
        
        .go-to-down{
            width: 100%; 
            display: flex;
            justify-content: center;
            align-items: center; 
            padding: 20px;
            
            .parent-go-to-down{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 15px; 
                opacity: .4;
                animation: toDown 2s linear infinite alternate;
                transform: scale(1.4);
                transition: all .3s ease-in-out;
                cursor: pointer; 

               

                @keyframes toDown {
                    100%{
                        transform: translateY(30px) scale(1.4);  
                    } 
                }

              

                div{
                width: 3px;
                height: 3px; 
                background-color: rgb(68, 68, 68);
                box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685),0px 0px 20px rgba(255, 255, 255, 0.26),0px 0px 30px rgba(255, 255, 255, 0.26); 
                margin: 1px;
            }

        }

        .parent-go-to-down:hover{
            animation-play-state: paused;
            transform: scale(1.6);
        }

        :nth-child(2){
            background: transparent !important ;
        }

        
        
        }

    }

    .image{ 
        border-radius: 50%;  
        width: 300px;
        border-bottom: 25px solid rgba(154, 255, 242, 0.164);   
        position: relative;

        .image-back{ 
            width: 300px;
            height: 300px;
            z-index: -2;
            position: absolute;
            top: 0;
            right: 0;  
            border-radius: 68% 32% 32% 68% / 39% 30% 70% 61% ;
            background: linear-gradient(15deg, rgba(255, 248, 145, 0.39),rgba(255, 182, 188, 0.959),rgb(201, 200, 255),rgba(142, 247, 255, 0.637));  
            animation: rotateClock 60s linear infinite alternate;
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685),0px 0px 20px rgba(255, 255, 255, 0.26),0px 0px 30px rgba(255, 255, 255, 0.26); 
            transition: all .3s ease-in-out;
            opacity: 0.3;

           @keyframes rotateClock {
               100%{
                   transform: rotate(360deg);
               }
               
           }
        }

        .image-back.active{
            position: fixed; 
            height: 1000px;
            width: 1000px; 
            z-index: 9; 
            opacity: 1;
        }

        img{
            width: 300px; 
            border-radius: 50%; 
        }
    }
}
}


.copyright{
    position: relative;
    bottom: 0; 
    width: 100%;
    padding: 10px;
    text-align: center;
    color: rgb(219, 148, 157);
    transition: all .3s ease .5s;

    p{
        font-size: 20px;
        font-weight: 600;

        a{
            color: rgb(119, 165, 252); 
 
        }
    }
}

.copyright.active{
    z-index: 10;
    position: fixed;
    bottom: 40px;
}




@media (max-width:900px){
    .content{
        flex-direction: column-reverse;
    }
}



@media (max-width:700px){
    .buttons{
        flex-direction: column;

        button{
            width: 100% !important;
        }
    }
}