.second-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-div .content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  min-height: 750px;
}

.second-div .content .accupation {
  padding: 5px;
}

.second-div .content .accupation .hey {
  font-size: 28px;
  font-weight: 700;
  color: #77a5fc;
  text-transform: capitalize;
  padding: 10px;
}

.second-div .content .accupation h1 {
  color: transparent;
  font-size: 40px;
  background: linear-gradient(15deg, rgba(153, 146, 54, 0.794), rgba(206, 89, 99, 0.959), #74966f, rgba(58, 242, 255, 0.849));
  -webkit-background-clip: text;
  padding: 10px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.603);
}

.second-div .content .accupation .we-are {
  padding: 0px 10px;
  font-size: 20px;
  font-weight: 700;
  color: #77a5fc;
}

.second-div .content .accupation .we-are .type_text {
  font-size: 25px;
  color: transparent;
  background: linear-gradient(15deg, rgba(54, 85, 153, 0.794), rgba(86, 155, 65, 0.959), #6c6eeb, rgba(255, 64, 58, 0.849));
  -webkit-background-clip: text;
}

.second-div .content .accupation .buttons {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.second-div .content .accupation .buttons button {
  width: 200px;
  font-size: 17px;
  background-color: transparent;
  border: none;
  padding: 7px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
  margin: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685), 0px 0px 20px rgba(255, 255, 255, 0.26), 0px 0px 30px rgba(255, 255, 255, 0.26);
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685), 0px 0px 20px rgba(255, 255, 255, 0.26), 0px 0px 30px rgba(255, 255, 255, 0.26);
}

.second-div .content .accupation .buttons :nth-child(1) {
  color: #77a5fc;
}

.second-div .content .accupation .buttons :nth-child(2) {
  color: #ee808e;
}

.second-div .content .accupation .go-to-down {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.second-div .content .accupation .go-to-down .parent-go-to-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 15px;
  opacity: .4;
  -webkit-animation: toDown 2s linear infinite alternate;
          animation: toDown 2s linear infinite alternate;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

@-webkit-keyframes toDown {
  100% {
    -webkit-transform: translateY(30px) scale(1.4);
            transform: translateY(30px) scale(1.4);
  }
}

@keyframes toDown {
  100% {
    -webkit-transform: translateY(30px) scale(1.4);
            transform: translateY(30px) scale(1.4);
  }
}

.second-div .content .accupation .go-to-down .parent-go-to-down div {
  width: 3px;
  height: 3px;
  background-color: #444444;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685), 0px 0px 20px rgba(255, 255, 255, 0.26), 0px 0px 30px rgba(255, 255, 255, 0.26);
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685), 0px 0px 20px rgba(255, 255, 255, 0.26), 0px 0px 30px rgba(255, 255, 255, 0.26);
  margin: 1px;
}

.second-div .content .accupation .go-to-down .parent-go-to-down:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.second-div .content .accupation .go-to-down :nth-child(2) {
  background: transparent !important;
}

.second-div .content .image {
  border-radius: 50%;
  width: 300px;
  border-bottom: 25px solid rgba(154, 255, 242, 0.164);
  position: relative;
}

.second-div .content .image .image-back {
  width: 300px;
  height: 300px;
  z-index: -2;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 68% 32% 32% 68% / 39% 30% 70% 61%;
  background: linear-gradient(15deg, rgba(255, 248, 145, 0.39), rgba(255, 182, 188, 0.959), #c9c8ff, rgba(142, 247, 255, 0.637));
  -webkit-animation: rotateClock 60s linear infinite alternate;
          animation: rotateClock 60s linear infinite alternate;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685), 0px 0px 20px rgba(255, 255, 255, 0.26), 0px 0px 30px rgba(255, 255, 255, 0.26);
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.685), 0px 0px 20px rgba(255, 255, 255, 0.26), 0px 0px 30px rgba(255, 255, 255, 0.26);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0.3;
}

@-webkit-keyframes rotateClock {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateClock {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.second-div .content .image .image-back.active {
  position: fixed;
  height: 1000px;
  width: 1000px;
  z-index: 9;
  opacity: 1;
}

.second-div .content .image img {
  width: 300px;
  border-radius: 50%;
}

.copyright {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #db949d;
  -webkit-transition: all .3s ease .5s;
  transition: all .3s ease .5s;
}

.copyright p {
  font-size: 20px;
  font-weight: 600;
}

.copyright p a {
  color: #77a5fc;
}

.copyright.active {
  z-index: 10;
  position: fixed;
  bottom: 40px;
}

@media (max-width: 900px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 700px) {
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .buttons button {
    width: 100% !important;
  }
}
/*# sourceMappingURL=index.css.map */