
<div class="navigation">
    <div class="hamburger">
        <div class=" fa fa-times ham_toggle"></div>
    </div>
    <nav>
        <!-- logo -->
        <div class="logo">
            <h1>Info<span>Ware</span></h1>
        </div>

        <!-- menu  -->
        <div class="nav" id="nav">
            <ul>
                <li><a class="active" href="/"> shop </a></li>
                <li><a href="/login"> LogIn </a></li>
                <li><a href="/signup">SignUp</a></li> 
            </ul>
        </div>
    </nav>
</div>