*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    /* height: 100vh;    */
}


#msg {
    position: fixed;
    top: 0;right: 0;
    z-index: 12;
    max-width: 350px;
    width: 100%;  
}


#msg i{
    position: absolute;
    top: 15px;right: 20px;  
    font-size: 25px;
    color: rgb(58, 58, 58);  
}

#msg p{  
    position: absolute;
    top: 50px;
    right: 50px;
    color: #fff;
    background: rgb(92, 92, 92); 
    padding: 5px 15px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    border-top-right-radius: 0px;
}


























 